In [23]:
import pandas as pd
from pyECLAT import ECLAT as at

In [24]:
Base_mercado1 = pd.read_csv('../../../Dados/Bases_de_dados/mercado.csv', header = None)
Base_mercado1

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [25]:
eclat = at(data = Base_mercado1) # Criacao do objeto para armazenamento dos dados

In [26]:
eclat.df_bin # visualizacao dos produtos e respetivas frequencias de vendas

   arroz  cerveja  feijao  leite  manteiga  pao  cafe
0      0        1       0      1         1    1     0
1      0        0       0      0         1    1     1
2      0        0       0      0         1    1     1
3      0        0       0      1         1    1     1
4      0        1       0      0         0    0     0
5      0        0       0      0         1    0     0
6      0        0       0      0         0    1     0
7      0        0       1      0         0    0     0
8      1        0       1      0         0    0     0
9      1        0       0      0         0    0     0

In [27]:
# retornar nomes de colunas 
eclat.uniq_

[nan, 'arroz', 'cerveja', 'feijao', 'leite', 'manteiga', 'pao', 'cafe']

In [28]:
# verificacao de itens frequentes e respetivo suport
indices, suporte = eclat.fit(min_support=0.3, min_combination=1, max_combination=3)

Combination 1 by 1

3it [00:00, 85.76it/s]

Combination 2 by 2

3it [00:00, 52.66it/s]

Combination 3 by 3

1it [00:00, 62.54it/s]

In [29]:
# visualizacao dos resultados e sua combinacao
indices

{'manteiga': [0, 1, 2, 3, 5],
 'pao': [0, 1, 2, 3, 6],
 'cafe': [1, 2, 3],
 'manteiga & pao': [0, 1, 2, 3],
 'manteiga & cafe': [1, 2, 3],
 'pao & cafe': [1, 2, 3],
 'manteiga & pao & cafe': [1, 2, 3]}

In [30]:
suporte

{'manteiga': 0.5,
 'pao': 0.5,
 'cafe': 0.3,
 'manteiga & pao': 0.4,
 'manteiga & cafe': 0.3,
 'pao & cafe': 0.3,
 'manteiga & pao & cafe': 0.3}