# REGRAS DE ASSOCIACAO COM APYORI _ AGRUPAMENTO DE PRODUTOS COM BASE NA FREQUENCIA DE VENDAS

In [2]:
import pandas as pd
from apyori import apriori

In [3]:
Base_mercado1 = pd.read_csv('../../../Dados/Bases_de_dados/mercado.csv', header = None)
Base_mercado1

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [4]:
transacoes = [] #CRIACAO DE LISTA POIS O ALGORITMO APRIORI TRABALHA COM VALORES EM LISTA
for i in range(len(Base_mercado1)):
    #print(Base_mercado1.values[i, 0])
    transacoes.append([str(Base_mercado1.values[i, j]) for j in range(Base_mercado1.shape[1])])

In [5]:
transacoes

[['leite', 'cerveja', 'pao', 'manteiga'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['leite', 'cafe', 'pao', 'manteiga'],
 ['cerveja', 'nan', 'nan', 'nan'],
 ['manteiga', 'nan', 'nan', 'nan'],
 ['pao', 'nan', 'nan', 'nan'],
 ['feijao', 'nan', 'nan', 'nan'],
 ['arroz', 'feijao', 'nan', 'nan'],
 ['arroz', 'nan', 'nan', 'nan']]

In [6]:
type(transacoes)

list

In [7]:
# criacao das regras
Regras = apriori(transacoes, min_support = 0.3, min_confidence = 0.8, min_lift=2) # definicaco dos valores de Suporte e confianca e o valor de lift
resultado = list(Regras)

In [8]:
resultado # Regras geradas conforme o valor do lift definido

[RelationRecord(items=frozenset({'manteiga', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'pao', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'manteiga', 'pao', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'manteiga', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'pao', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])]

In [9]:
resultado[2] # Verificar a regra aplicada ao suporte e confianca para este indice

RelationRecord(items=frozenset({'manteiga', 'pao', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'manteiga', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'pao', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])

In [10]:
len(resultado)

3

# VISUALIZACAO DAS REGRAS E VALORES DE SUPORTE, CONFIANCA E LIFT
RelationRecord(items=frozenset({'cafe', 'pao', 'manteiga'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao', 'manteiga'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])

In [11]:
resultado [2][0]

frozenset({'cafe', 'manteiga', 'pao'})

In [12]:
resultado [2][1]

0.3

In [13]:
# Cricamos uma nova variavel para verificar as regras
r = resultado[2][2]
r

[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5),
 OrderedStatistic(items_base=frozenset({'manteiga', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0),
 OrderedStatistic(items_base=frozenset({'pao', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]

In [14]:
r[2][0]

frozenset({'cafe', 'pao'})

In [15]:
r[2][1]

frozenset({'manteiga'})

In [16]:
r[2][3]

2.0

In [17]:
r[0][2]

1.0

In [18]:
r[1][2]

1.0

In [19]:
r[2][2]

1.0

# Tecnicas para facilitar a leitura dos dados

In [31]:
# CRIACAO DE LISTAS PARA O ARMAZENAMENTO DOS VALORES DEFINIDOS POR UTILIZADOR
A = []
B = []
suporte = []
confianca = []
lift = []

In [36]:
for resultados in resultado:
   # print(resultados)
    s = resultados[1]
   # print(s)
    result_rule = resultados[2]
    #print(result_rule)
    for result_rules in result_rule: # para percorrer toda lista da variavel rule
        #print(result_rule)
        a = list(result_rules[0])
        b = list(result_rules[1])
        c = result_rules[2]
        l = result_rules[3]
        print(a, ' - ', b, ' - ', c, ' - ', l)
        A.append(a) # lista na posicao 0
        B.append(b) # lista na posicao 1
        suporte.append(s) # Valor de suporte definido
        confianca.append(c) # valor de confianca definido
        lift.append(l) # valor de lift definido

['cafe']  -  ['manteiga']  -  1.0  -  2.0
['cafe']  -  ['pao']  -  1.0  -  2.0
['cafe']  -  ['manteiga', 'pao']  -  1.0  -  2.5
['manteiga', 'cafe']  -  ['pao']  -  1.0  -  2.0
['pao', 'cafe']  -  ['manteiga']  -  1.0  -  2.0

In [37]:
A

[['cafe'], ['cafe'], ['cafe'], ['manteiga', 'cafe'], ['pao', 'cafe']]

In [38]:
B

[['manteiga'], ['pao'], ['manteiga', 'pao'], ['pao'], ['manteiga']]

In [42]:
s

0.3

In [43]:
c

1.0

In [41]:
   lift

[2.0, 2.0, 2.5, 2.0, 2.0]

# Criacao do dataframe

In [44]:
rules_df = pd.DataFrame({'A': A, 'B':B, 'suporte': suporte, 'confianca': confianca, 'lift': lift})
rules_df

                  A                B  suporte  confianca  lift
0            [cafe]       [manteiga]      0.3        1.0   2.0
1            [cafe]            [pao]      0.3        1.0   2.0
2            [cafe]  [manteiga, pao]      0.3        1.0   2.5
3  [manteiga, cafe]            [pao]      0.3        1.0   2.0
4       [pao, cafe]       [manteiga]      0.3        1.0   2.0

In [45]:
# ORDENAR OS VALORES POR LIFT
rules_df.sort_values(by = 'lift', ascending = False)

                  A                B  suporte  confianca  lift
2            [cafe]  [manteiga, pao]      0.3        1.0   2.5
0            [cafe]       [manteiga]      0.3        1.0   2.0
1            [cafe]            [pao]      0.3        1.0   2.0
3  [manteiga, cafe]            [pao]      0.3        1.0   2.0
4       [pao, cafe]       [manteiga]      0.3        1.0   2.0